import React, { FC } from "react";

import styles from "./{{pascalCase name}}.module.scss";
import { {{pascalCase name}}Props } from "./types"


export const {{pascalCase name}}:FC<{{pascalCase name}}Props> = () => {
  return <div>{{pascalCase name}}</div>;
};